<div class="dust-bg">
  <div class="dust-img"></div>
</div>

<div class="loader" *ngIf="loading$ | async">
  <div class="loader-content">
    <div class="logo-animation">NZRM</div>
    <div class="loader-text">Creating Digital Excellence</div>
  </div>
</div>

<div class="main-container" [class.loaded]="!(loading$ | async)">
  <nav>
    <!-- <div class="logo">NZRM</div> -->
    <!-- <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div> -->

    <app-nav-menu></app-nav-menu>
  </nav>

  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>